body {
    font-family: Arial, sans-serif;
}

#login {
    margin: 20px;
}

#dashboard {
    margin: 20px;
}

.green {
    background-color: green;
    color: white;
}

.orange {
    background-color: orange;
    color: white;
}

.red {
    background-color: red;
    color: white;
}
